.root {
  contain: content;
  display: flex;
  inline-size: 100vw;
  block-size: 100vh;
  position: relative;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  color: #fff;

  h1 {
    padding-inline: 15px;
    font-weight: 700;
    letter-spacing: .01ch;
  }
  
  p {
    inline-size: min(100%, 800px);
    padding: 15px;
  }
  
  picture {
    inline-size: 100%;
    position: absolute;
    inset-block-start: 0;
    z-index: -1;
  }
}

