.root {
  contain: content;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100vw;
  block-size: 60px;
  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 0;
  z-index: 9;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,50,.2);

  a {
    margin-inline: 15px;
    color: #222;
  }
}